PGHOST=postgres_host
PGDATABASE=db
PGUSER=db_owner
PGPASSWORD=postgres_password
PGPORT=5432

GEMINI_API_KEY=change_this_gemini_api_key

DEBUG=1
SECRET_KEY=change_this_secret_key

NEXT_PUBLIC_ZIMNA_AUTH=change_this_next_auth