# Python / Django
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
static_root/

# Environment files
.env
.env*
!.env.example

# Docker
.dockerignore
docker-compose.override.yml

# Misc OS / Logs
.DS_Store
*.log
*.pem

# IDE
.vscode/
.idea/